@import '../../assets/styles/variables';

.guitar-wrapper {
  padding: 25px 0;
}

.guitar-crumbs {
  display: block;

  padding: 0 0 25px 0;

  a {
    color: var(--dark);
  }
}

.guitar-title {
  display: inline-block;

  margin: 25px 0 0 0;

  color: var(--green);

  background-color: var(--dark);

  padding: 25px;
}

.guitar-text {
  line-height: 1.5;

  padding: 0 15px;

  @media (min-width: $sm) {
    padding: 0;
  }
}

.guitar-gallery-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;

  padding: 25px 0 0 0;

  @media (min-width: $md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    padding: 25px 0;
  }

  img {
    border: 4px solid transparent;

    cursor: pointer;

    &:hover {
      border: 4px solid var(--green);
    }

    &.active {
      border: 4px solid var(--dark);
    }
  }
}
