@import '../../../assets/styles/variables';

.guitar-wrapper,
.guitar-crumbs {
  a {
    color: var(--dark);
  }
}

.guitar-wrapper {
  padding: 25px 0;
}

.guitar-crumbs {
  display: block;

  padding: 0 0 25px 15px;

  @media (min-width: $sm) {
    padding: 0 0 25px 0;
  }
}

.guitar-text {
  line-height: 1.5;

  padding: 0 15px;

  @media (min-width: $sm) {
    padding: 0;
  }
}
