@import '../../assets/styles/variables';

.carousel-outer,
.carousel-wrapper,
.carousel-content,
.carouse-slide {
  position: relative;
}

.carousel-outer {
  width: 100%;

  margin: 0 auto;
}

.carousel-wrapper {
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.carousel-content,
.carousel-slide {
  height: 100%;

  transform-style: preserve-3d;
}

.carousel-content {
  margin: 0;
  padding: 0;

  width: 100%;

  white-space: nowrap;
}

.carousel-slide {
  color: white;
  font-size: 5rem;

  width: 50%;

  display: inline-block;

  transition: transform 0.25s ease-in-out;

  overflow: hidden;

  border-bottom: 2px solid var(--dark);

  &:not(.current) {
    filter: saturate(10%);
  }

  &:hover {
    .carousel-slide-overlay {
      bottom: 0px;
    }
  }

  a {
    display: block;

    height: 100%;
    width: 100%;

    position: relative;
  }

  img {
    width: 100%;

    vertical-align: top;
  }
}

.carousel-slide-overlay {
  position: absolute;
  bottom: -200px;

  background-color: rgba(0, 0, 0, 0.9);

  text-align: center;

  white-space: pre-wrap;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: bottom 0.35s linear;

  h2,
  p {
    color: var(--blue);
  }

  h2 {
    padding: 10px 0;

    font-size: 2.4rem;

    @media (min-width: $md) {
      padding: 25px 0;

      font-size: 3rem;
    }

    @media (min-width: $lg) {
      font-size: 3.6rem;
    }
  }
}

.carousel-control,
.carousel-selector {
  cursor: pointer;
}

.carousel-control {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dark);

  color: #fff;
  font-size: 2rem;

  border-radius: 50%;

  height: 25px;
  width: 25px;

  position: absolute;
  top: 15%;
  z-index: 10;

  &:hover {
    color: var(--green);
  }

  &.left {
    left: 10px;

    &:before {
      content: '\00ab';

      margin: 0 1px 2px 0;
    }
  }

  &.right {
    right: 10px;

    &:before {
      content: '\00bb';

      margin: 0 0 2px 1px;
    }
  }

  @media (min-width: $xl) {
    font-size: 4rem;

    height: 50px;
    width: 50px;

    top: 30%;

    &.left {
      left: 25px;

      margin: 0 3px 5px 0;
    }

    &.right {
      right: 25px;

      margin: 0 0 5px 3px;
    }
  }
}

.carousel-select {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 0;
}

.carousel-selector {
  background-color: var(--teal);

  opacity: 0.5;

  border-radius: 50%;

  height: 15px;
  width: 15px;

  padding: 10px;

  color: white;

  display: inline-block;

  margin: 0 25px;

  transition: all 0.25s ease-in-out;

  transform: rotate(45deg);

  @media (min-width: $lg) {
    margin: 0 50px;

    height: 25px;
    width: 25px;
  }

  &:hover {
    background-color: var(--green);

    transform: rotate(405deg);
  }

  &.current {
    background-color: var(--green);

    opacity: 1;
  }

  svg {
    path {
      fill: var(--dark);
    }
  }
}
