@import '../../assets/styles/_variables';

footer {
  background-color: var(--dark);

  height: 100px;
  width: 100%;

  box-shadow: 0 -2px 1px -1px #fff, 0 -4px 2px -2px var(--green);

  position: absolute;
  bottom: 0;

  p {
    color: #fff;
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  @media (min-width: $lg) {
    flex-direction: row;
    justify-content: space-between;
  }

  svg {
    path {
      fill: #fff;
    }
  }

  a {
    &:hover {
      svg {
        path {
          fill: var(--green);
        }
      }
    }
  }
}
